appname: "Qwiki"
layout: "main"
charset: "UTF-8"
template: "template_toolkit"
engines:
  template_toolkit:
    start_tag: '[%'
    end_tag:   '%]'
plugins:
  DBIC:
    default:
      dsn: 'dbi:SQLite:/srv/http/qwiki/data.sqlite'
      schema_class: 'SimpleWiki::Schema'
      options:
        sqlite_unicode: 1
time_zone: 'America/Phoenix'
time_format: '%Y-%m-%d %H:%M:%S'
