<!doctype html>
<html>
  <head>
    <title>[% settings.appname %]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <link href="favicon.png" rel="shortcut icon">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">[% settings.appname %]</a>
      <form class="navbar-form pull-right form-inline" action="/search">
        <input class="form-control" type="search" name="q">
      </form>
    </div>

    <div id="content">[% content %]</div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  </body>
</html>
